<div id="wrapper">
    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top idt-green" role="navigation" style="margin-bottom: 0" ng-controller="NavbarController as navbar" ng-init="navbar.init()">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand white" href="#/home">Ideyatech Exam App Admin Dashboard</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown"  uib-dropdown is-open="status.isopen">
                <a id="dropdown-btn" class="dropdown-toggle white" uib-dropdown-toggle ng-disabled="disabled">{{user.currentUser}}
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="dropdown-btn">
                    <li role="menuitem">
                        <a href="#/home"><i class="fa fa-user fa-fw"></i> Account </a>
                    </li>
                    <li role="menuitem"><a href="#/settings">
                        <i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li ng-click="processLogout()">
                        <a><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#/home" class="black"><i class="fa fa-home fa-fw"></i> Home</a>
                    </li>
                    <li>
                        <a href="#/categories" class="black"><i class="fa fa-tasks fa-fw"></i> Categories</a>
                    </li>
                    <li>
                        <a href="#/questions" class="black"><i class="fa fa-bar-chart-o fa-fw"></i> Questions</a>
                    </li>
                    <li>
                        <a href="#/exams" class="black"><i class="fa fa-file-text fa-fw"></i> Exam Sets</a>
                    </li>
                    <li>
                        <a class="black" href="#/applicants"><i class="fa fa-list-alt fa-fw"></i> Applicants</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    
    <!-- Add choice modal -->
    <div class="modal fade" id="addChoiceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add a choice</h4>
          </div>
          <div class="modal-body" style="margin: 0 auto;">
              <div class="row">
                  <div class="col-md-12">
                      <form class="form-horizontal">
                          <div class="form-group">
                            <label class="col-md-2 control-label">Text</label>
                              <div class="col-md-10">
                            <input type="text" class="form-control" id="choice" placeholder="e.g. 2x">
                                  </div>
                          </div>
                          <div class="form-group">
                            <label class="col-md-2 control-label">Image (optional)</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Browse <input type="file" style="display: none;" nv-file-select uploader="uploader" fd-input>
                                        </span>
                                    </label>
                                    <input type="text" ng-model="choice.choice" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <button type="button" class="btn btn-default">Upload</button>  
                            </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="addChoic()">Add</button>
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/ng-template" id="alert.html">
        <div ng-transclude>
        </div>
    </script>
    
    <div id="page-wrapper">
    
        <div class="row">
            <div class="col-md-10">
                <h2 class="page-header">Add exam set</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
    
        <!-- Alert -->
        <div class="row">
            <div class="col-lg-12">
                <div uib-alert ng-repeat="alert in alerts" ng-class="alert.type" close="closeAlert($index)">{{alert.msg}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form role="form" class="form-horizontal" method="post" ng-init="loadExams()">
                    <div class="form-group">
                        <label for="questionContent" class="col-md-2 control-label">Name</label>
                        <div class="col-sm-5">
                            <input id="questionContent" class="form-control" type="text" placeholder="e.g. What is the integral of x?" ng-model="questionContent" autofocus>
<!--                            <textarea cols="8" rows="5" autofocus class="form-control" placeholder="e.g. What is the integral of x?" ng-model="questionContent"></textarea>-->
                         </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-6 col-md-2">
                            <a href="#/questions" class="btn btn-default">Cancel</a>
                            <button type="submit" class="btn btn-primary" ng-click="saveQuestion()">Submit</button>
                            <!--<button type="submit" class="btn btn-primary" ng-click="getFile()">Get file</button>
                            <img ng-src="{{imgsrc}}"/>-->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--/ Page Wrapper -->
</div>